.Krish-App {
  text-align:center;  
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: Roboto;
  src: url(../public/fonts/Roboto-Thin.ttf);

}
.Background {
  background-color: #C2DFFF;
  width: 2000px;
  height:1100px;
  position:absolute;
  top:0px;
  left:0px;
}


.Name {
  font-family:Roboto;
  color:black;
  font-size: 80px;
  position:absolute;
  bottom:80%;
  left:34%;
}
.School {
  font-family:Roboto;
  color:black; 
  position: absolute;
  font-size: 70px;
  bottom: 35%;
  left:28%;
}
.School-logo {
  position:absolute;
  width:30%;
  left:30%;
  bottom:15%;
  
}
.Linkedin-qr {
  position:absolute;
  width:150px;
  height:150px;
  left:1%;
  top:1%;
  border: 3px solid black;
  transition: transform .2s;
  
}
.Linkedin-qr:hover{
  transform:scale(1.2);
}
.glow-button:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(192, 215, 252, 2);
}
.Name-button:hover {
  width: 200px;
}
.Photo-button:hover {
  width: 200px;
}
.School-button:hover {
  width: 200px;
}
.Hobby-button:hover {
  width: 200px;
}
.Interest-button:hover {
  width: 200px;
}
.Program-button:hover {
  width: 200px;
}
.Linkedin-button:hover {
  width: 200px;
}
.Home-button:hover {
  width:200px;
}

.Name-button {
  position:absolute;
  font-family:Roboto;
  font-size:40px;
  font-weight: bold;
  left:84%;
  bottom:85%;
  width:0px;
  height:wrap;
  transition: width 0.5s;
  background:grey;
  color:transparent;

}


.Photo-button {
  font-weight: bold;

  font-family: Roboto;
  position: absolute;
  font-size:40px;
  left:84%;
  bottom:75%;
  width:0px;
  height:wrap;
  width:0px;
  height:wrap;
  transition: width 0.5s;
  background:grey;
  color:transparent;

}
.School-button {
  font-family: Roboto;
  font-weight: bold;
  position:absolute;
  font-size:40px;
  left:84%;
  bottom:65%;
  width:0px;
  height:wrap;
  background:grey;
  transition: width 0.5s;
  color:transparent;

}

.Hobby-button {
  font-family: Roboto;
  font-weight: bold;
  position:absolute;
  font-size:40px;
  left:84%;
  bottom:55%;
  width:0px;
  height:wrap;
  background:grey;
  transition: width 0.5s;
  color:transparent;

}

.Interest-button {
  font-weight: bold;
  position:absolute;
  font-family: Roboto;
  font-size:40px;
  left:84%;
  bottom:45%;
  width:0px;
  height:wrap;
  width:0px;
  height:wrap;
  background:grey;
  transition: width 0.5s;
  color:transparent;

}

.Program-button {
  position: absolute;
  font-family:Roboto;
  font-weight: bold;
  font-size:40px;
  left:84%;
  bottom:35%;
  height:wrap;
  width:0px;
  height:wrap;
  background: grey;
  transition: width 0.5s;
  color:transparent;

}

.Linkedin-button {
  position: absolute;
  font-family:Roboto;
  font-weight: bold;
  font-size:40px;
  left:84%;
  bottom:25%;
  width:0px;
  height:wrap;
  background:grey;
  transition: width 0.5s;
  color:transparent;
}
.Home-button {
  position: absolute;
  font-family:Roboto;
  font-weight: bold;
  font-size:40px;
  left:84%;
  bottom:15%;
  width:0px;
  height:wrap;
  background:grey;
  transition: width 0.5s;
  color:transparent;
}
.Program {
  font-family: Roboto;
  color: black;
  position: absolute;
  font-size: 60px;
  bottom: 3%;
  left:27%;
}


.Hobbies {
  font-family: Roboto;
  color:black;
  position: absolute;
  bottom:20%;
  width:500px;  
  left:15%;
}
.Interest {
  font-family:Roboto;
  color:black;
  position: absolute;
  bottom:20%;
  width:500px;  
  left:50%;
}


.Instruction {
  font-family: Roboto;
  color:black;
  position: absolute;
  top:20%;
  width:15%;  
  left:38%;
}
.Pfp {
  height: 30%;
  position: absolute;
  top: 20%;
  width: 25%;
  left:33%;
  border: 4px solid black;  
}

.Krish-App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Texture {
  
  top:0%;
  bottom:0%;
  zoom:100%;
  position: absolute;
}



