.Taeyun-App {
  text-align:center;
  text-align:center;  
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: Roboto;
  src: url(../public/fonts/Roboto-Thin.ttf);

}
.Taeyun-Name {
  font-family:Roboto;
  color:black;
  font-size: 70px;
  position: absolute;
  bottom:800px;
  left:600px;
  
}
.Taeyun-School {
  font-family:Roboto;
  color:black; 
  position: absolute;
  font-size: 50px;
  bottom: 400px;
  left:550px;
}
.Taeyun-School-logo {
  position: absolute;
  width:400px;
  left: 570px;
  bottom:180px;
  
}
.Taeyun-Linkedin-qr {
  position:absolute;
  width:150px;
  height:150px;
  left: 1340px;
  top:20px;
  border: 3px solid black;
  transition: transform .2s;
  
}
.Linkedin-qr:hover{
  transform:scale(1.2);
}
.glow-button:hover {
  color: rgb(254, 254, 254);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
.Taeyun-Name-button:hover {
  width: 200px;
}
.Taeyun-Photo-button:hover {
  width: 200px;
}
.Taeyun-School-button:hover {
  width: 200px;
}
.Taeyun-Hobby-button:hover {
  width: 200px;
}
.Taeyun-Interest-button:hover {
  width: 200px;
}
.Taeyun-Program-button:hover {
  width: 200px;
}
.Taeyun-Linkedin-button:hover {
  width: 200px;
}

.Taeyun-Name-button {
  font-weight: bold;
  position:absolute;
  font-family:Roboto;
  font-size:40px;
  left:250px;
  bottom:650px;
  width:0px;
  height:wrap;
  border-radius: 400px ;
  border-color: #00FF00;
  background:rgb(0, 118, 126);
  transition: width 0.5s;
  color:transparent;
}


.Taeyun-Photo-button {
  font-weight: bold;
  font-family: Roboto;
  position: absolute;
  font-size:40px;
  bottom: 590px;
  left: 250px;
  width:0px;
  height:wrap;
  width:0px;
  height:wrap;
  border-radius: 400px ;
  border-color: #00FF00;
  background:rgb(0, 118, 126);
  transition: width 0.5s;
  color:transparent;
}
.Taeyun-School-button {
  font-weight: bold;
  font-family: Roboto;
  position:absolute;
  font-size:40px;
  left:250px;
  bottom: 530px;
  width:230px;
  width:0px;
  height:wrap;
  border-radius: 400px ;
  border-color: #00FF00;
  background:rgb(0, 118, 126);
  transition: width 0.5s;
  color:transparent;
}


.Taeyun-Program-button {
  font-weight: bold;
  position: absolute;
  font-family:Roboto;
  font-size:40px;
  bottom: 470px;
  left: 250px;
  height:wrap;
  width:0px;
  height:wrap;
  border-radius: 400px ;
  border-color: #00FF00;
  background:rgb(0, 118, 126);
  transition: width 0.5s;
  color:transparent;
}

.Taeyun-Hobby-button {
  font-family: Roboto;
  position:absolute;
  font-size:40px;
  font-weight: bold;
  left:250px;
  bottom: 410px;
  width:0px;
  height:wrap;
  border-radius: 400px ;
  border-color: #00FF00;
  background:rgb(0, 118, 126);
  transition: width 0.5s;
  color:transparent;
}

.Taeyun-Interest-button {
  font-weight: bold;
  position:absolute;
  font-family: Roboto;
  font-size:40px;
  left:250px;
  bottom:350px;
  width:0px;
  height:wrap;
  width:0px;
  height:wrap;
  border-radius: 400px ;
  border-color: #00FF00;
  background:rgb(0, 118, 126);
  transition: width 0.5s;
  color:transparent;
}

.Taeyun-Linkedin-button {
  font-weight: bold;
  position: absolute;
  font-family:Roboto;
  font-size:40px;
  bottom: 290px;
  left: 250px;
  width:0px;
  height:wrap;
  border-radius: 400px ;
  border-color: #00FF00;
  background:rgb(0, 118, 126);
  transition: width 0.5s;
  color:transparent;
}
.Taeyun-Program {
  font-family: Roboto;
  color:black; 
  position: absolute;
  font-size: 35px;
  bottom: 350px;
  left:610px;
}


.Taeyun-Hobbies {
  font-family: Roboto;
  color:black;
  position: absolute;
  top:730px;
  width:500px;  
  left:490px;
}
.Taeyun-Interest {
  font-family:Roboto;
  color:black;
  position: absolute;
  top:730px;
  width:500px;  
  left:870px;

}


.Taeyun-Pfp {
  height: 250px;
  position: absolute;
  top: 200px;
  width: 200px;
  left:670px;
  border: 4px solid #560319;  
}

.Taeyun-Linkedin-box {
  display: inline-block;
  position:absolute;
  width: 230px;
  height: 1100px;
  top:0px;
  border-right: 10px double rgba(0, 0, 0, .2);
  background: #43C6DB;
  left:1300px;

}

.Taeyun-App-header {
  background-color: #C2DFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



